@charset "UTF-8";

/* 回答はここに書いてね */

.like_Fiat{
overflow:hidden;
height:333px;
width:500px;
}

.like_Fiat img:hover{
  transform:scale(1.5,1.5);
  background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,8))
}
/* 回答はここに書いてね */
