@charset "UTF-8";

/* 回答はここに書いてね */

.math{
  line-height:100px;
  font-size:30px;
  font-weight:bold;
  text-align:center;
}

.background{
  height:500px;
  width:500px;
  background-color:#ECF1F2;
  margin:0 auto;
  left:0;
  right:0;
  position:relative;
}

.northwest::after{
  content:"";
  height:20px;
  width:20px;
  background-color:#ffefd3;
  position:absolute;
  right:0px;
  top:0px;
}

.common-box{
  height:100px;
  width:100px;
  position:absolute;
}

/* 1 */
.north{
  background-color:#ffefd3;
  top:40px;
  left:200px;
  z-index:1;
}
/* 2 */
.northeast{
  background-color:#7084de;
  top:120px;
  left:280px;
  z-index:2;

}
/* 3 */
.east{
  background-color:#d0ecea;
  top:200px;
  left:360px;
  z-index:3;

}
/* 4 */
.southeast{
  background-color:#8b7a6e;
  top:280px;
  left:280px;
  z-index:4;

}
/* 5 */
.south{
  background-color:#9fd6d2;
  top:360px;
  left:200px;
  z-index:5;

}
/* 6 */
.southwest{
  background-color:#fffee4;
  top:280px;
  left:120px;
  z-index:6;

}
/* 7 */
.west{
  background-color:#deae70;
  top:200px;
  left:40px;
  z-index:7;

}
/* 8 */
.northwest{
  background-color:#de70cf;
  top:120px;
  left:120px;
  z-index:8;

}
/* 9 */
.unknown{
  background-color:#2b69a3;
  position:fixed;
  top:10px;
  left:10px;
}


/* 回答はここに書いてね */
