@charset "UTF-8";

/* 回答はここに書いてね */
.align{
  text-align:center;
}

.align-text{
  background-color:#e6f2ff;
  width:90px;
  padding-top:10px;
  padding-bottom:10px;
  display:inline-block;
}

.margin{
  margin:0 auto;
  text-align:center;
  background-color:#e6f2ff;
  padding-top:10px;
  padding-bottom:10px;
  width:90px;
  }

.table{
  width:300px;
  height:200px;
  display:table-cell;
  background-color:#e6f2ff;
  vertical-align:middle;
  text-align:center;
}

.table-text{
  display:inline-block;
  padding:10px;
  background-color:#fff;

}

.flex{
  display:flex;
  height:200px;
  align-items:center;
  justify-content:center;
}

.flex-text{
  padding:10px;
  background-color:#fff;
}
.position_stable{
  position:relative;
}


.position_stabletext{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.position_flexible{
  position:relative;
}

.position_flexibletext{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

/* 回答はここに書いてね */
